@import 'project';

$color-background: #161616;

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
  background-color: $color-background;
  color: #fff;
}

#app,
.full-height {
  height: 100%;
  width: 100%;
}

.monitor-wrapper {
  display: flex;
  margin: 0 20px;
  overflow: hidden;
  width: calc(100% - 40px);

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to top, $color-background 20%, transparent);
    height: 80px;
  }
}

.recent-builds {
  flex: 2;
  min-width: 0;
}

.projects {
  flex: 1;
  min-width: 0;
}

$spinner-size: 60px;
$spinner-weight: 7px;

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -$spinner-size;
  margin-left: -$spinner-size;
  height: $spinner-size;
  width: $spinner-size;
  border-radius: 50%;
  border: $spinner-weight solid rgba(255, 255, 255, 0.3);
  border-top: $spinner-weight solid #fff;
  animation: spin 1s linear 0s infinite;
}
