@import 'globals';
@import 'summary';
@import 'project';

$color-background: #161616;

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
  background-color: $color-background;
  color: #fff;
}

#app,
.full-height {
  height: 100%;
  width: 100%;
}

.monitor-wrapper {
  margin: 0 20px;
  overflow: hidden;
  width: calc(100% - 40px);
}

$spinner-size: 40px;
$spinner-weight: 5px;
$spinner-padding: 20px;

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading-spinner {
  position: absolute;
  top: 40px;
  right: 40px;
  height: $spinner-size - ($spinner-weight * 2);
  width: $spinner-size - ($spinner-weight * 2);
  border-radius: 50%;
  border: $spinner-weight solid transparent;
  border-top: $spinner-weight solid #fff;
  animation: spin 1s linear 0s infinite;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
