$build-height: 70px;

.build-wrapper {
  margin-right: 20px;
}

.build-bar {
  margin-top: 10px;
  padding-bottom: 10px;
  height: $build-height;
  overflow: hidden;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
  display: flex;
  border-bottom: 1px solid #aaa;

  .build-details {
    flex: 1;
    min-width: 0;
    margin: 0 10px;
  }

  .build-name {
    font-size: 25px;
    line-height: $build-height;
  }

  .build-author-avatar {
    height: 50px;
    margin: 10px;
    vertical-align: top;
    border-radius: 50%;
  }

  .build-status {
    margin: 10px;
    line-height: 50px;
    font-size: 25px;
    min-width: 150px;
    text-align: center;
    background-color: $color-unknown;
    border-radius: 25px;
    vertical-align: top;
  }

  &.build-running .build-status {
    animation: $animation-building;
  }

  &.build-success .build-status,
  &.build-fixed .build-status {
    background-color: $color-success;
  }

  &.build-failed .build-status {
    background-color: $color-failure;
  }

  &.build-queued .build-status {
    background-color: $color-queuing;
  }

  .build-time {
    line-height: $build-height;
    font-size: 25px;
    text-align: right;
    margin: 0 10px;
  }
}
