$project-pill-size: 70px;

@keyframes buildingPulse {
  0% { background-color: rgba(102, 211, 228, 1); }
  100% { background-color: rgba(102, 211, 228, 0.5); }
}

.project-building {
  animation: buildingPulse 1.5s ease-in-out infinite alternate;
}

.project-success {
  background-color: #42c88a;
}

.project-failure {
  background-color: #ed5c5c;
}

.project-unknown {
  background-color: #555;
}

.project-pill {
  border-radius: $project-pill-size / 2;
  height: $project-pill-size;
  margin: 10px;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);

  .project-name {
    line-height: $project-pill-size;
    font-size: $project-pill-size / 2;
    padding: 0 $project-pill-size / 2;
  }
}
